services:
  ollama-init:
    image: ollama/ollama:latest
    container_name: ollama-init
    command: ["pull", "dolphin3:8b"]
    environment:
      - OLLAMA_HOST=http://ollama:11434
    depends_on:
      - ollama
    restart: "no"


  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
    restart: unless-stopped

  extractor-api:
    build: .
    container_name: extractor-api
    ports:
      - "8000:8000"
    environment:
      - RECRUITAIR_MODEL=dolphin3
      - RECRUITAIR_MODEL_VERSION=8b
      - RECRUITAIR_PROMPT=criteria-extraction
      - RECRUITAIR_PROMPT_VERSION=1
      - RECRUITAIR_OLLAMA_BASE_URL=http://ollama:11434
      - MLFLOW_TRACKING_URI=https://ml-4cb370e118ec407c83eed254868ebce1.ecs.eu-north-1.on.aws/
    depends_on:
      ollama-init:
        condition: service_completed_successfully 
    restart: unless-stopped

volumes:
  ollama-data: